.pageTitle {
  text-align: center;
  line-height: 60px;
  font-size: 16px;
}
$indexColorList: (1, #da928e), (2, #de930f), (3, #ecc55e), (4, #a3b5f5), (5, #d8f5f0),
        (6, #f0e7f8), (7, #e119dd), (8, #fa795a), (9, #88efe4), (10, #ac6dee),
        (11, #efe586), (12, #e8915b), (13, #7aec9f), (14, #6180c9), (15, #c941b6),
        (16, #bd96b6), (17, #f86294), (18, #d2608b), (19, #8ac59b), (20, #dc844f);

.list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2vw;

  .block{
    width: 28vw;
    height: 110px;
    background-color: #576fa1;
    border-radius: 18px;
    margin: 2vw;
    padding: 15px 0;
    .title {
      font-size: 14px;
    }
    .icon {
      font-size: 28px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px auto 15px;
    }

    @each $index, $color in $indexColorList {
      $calcIndex: index($indexColorList, ($index, $color));
      &.typeId#{$calcIndex} {
        background-color: rgba($color, 0.5);
        .icon {
          background-color: $color;
        }
      }
    }
  }
}

.publicBox {

}
