
$indexColorList: (1, #da928e), (2, #de930f), (3, #ecc55e), (4, #8290d0),
        (5, #58ada0), (6, #b090e7), (7, #e119dd), (8, #fa795a),
        (9, #59efcf), (10, #ac6dee), (11, #efe586), (12, #e8915b),
        (13, #7aec9f), (14, #6180c9), (15, #c941b6), (16, #bd96b6),
        (17, #f86294), (18, #d2608b), (19, #8ac59b), (20, #dc844f);

.pageContainer {
  margin-bottom: 60px;
  .pageTitle {
    text-align: center;
    line-height: 60px;
    font-size: 14px;
  }
}

.topNavBar {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  span {
    margin: 0 20px;
    font-weight: 700;
  }
}
.list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2vw;
  .block{
    width: 28vw;
    height: 100px;
    background-color: #576fa1;
    border-radius: 18px;
    margin: 2vw;
    padding: 15px 0;
    .title {
      font-size: 14px;
    }
    .icon {
      font-size: 26px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px auto 15px;
    }

    @each $index, $color in $indexColorList {
      $calcIndex: index($indexColorList, ($index, $color));
      &.typeId#{$calcIndex} {
        background-color: rgba($color, 0.5);
        box-shadow: 0 2px 6px 0 rgba($color, 0.6);
        .icon {
          background-color: $color;
        }
      }
    }
  }
}
