#root {
  margin: 0 auto;
  text-align: center;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
